* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

header {
  width: 100%;
  height: 100px;
  background-color: lightblue;
}

header .inner {
  position: relative;
  height: 100%;
  margin: auto;
  max-width: 1200px;
  padding: 0 1.5rem;
}

header .inner .logo {
  line-height: 100px;
  position: absolute;
  /* i는 font-size로 크기 조정 */
  font-size: 40px;
  color: aliceblue;
}

.menu {
  margin: 0 auto;
  width: 500px;
  display: flex;
  text-align: center;
  justify-content: space-evenly;
  line-height: 100px;
}

.small-menu,
.menu-bar {
  display: none;
}

@media screen and (max-width: 768px) {
  .small-menu {
    display: block;
    text-align: center;
    font-size: 18px;
    background-color: rgb(240, 251, 255);
  }

  .small-menu li {
    padding: 20px 0;
  }

  .small-menu li:hover {
    font-weight: 700;
    background-color: rgb(140, 226, 255);
  }

  .inner {
    /* text-align: center; */
  }

  .logo {
    left: calc(50% - 25px);
  }

  .menu-bar {
    display: flex;
    flex-direction: row-reverse;
    font-size: 25px;
    line-height: 100px;
  }

  .menu {
    display: none;
  }
}
