/* 나눔스퀘어 네오 */
@font-face {
  font-family: "NanumSquareNeo-Variable";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: "KorailRoundGothicBold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2212@1.0/KorailRoundGothicBold.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}

.App {
  text-align: center;
}

.best_seller {
  padding: 10vh;
  background-color: rgb(249, 246, 237);
}

.book {
  font-family: "NanumSquareNeo-Variable";
  color: rgb(47, 47, 47);
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 40px;
}

.title {
  color: rgb(43, 135, 247);
  font-family: "KorailRoundGothicBold";
  font-size: 18px;
  margin-top: 20px;
}

.book_content {
  color: rgb(73, 73, 73);
  font-family: "KorailRoundGothicBold";
  font-size: 16px;
  margin-top: 20px;
}

.content {
  margin-top: 40px;
}
